<form autocomplete="off" [formGroup]="formDialog" (ngSubmit)="saveChanges()">
    <mat-form-field>
        <input
          matInput placeholder="Título"
          formControlName="title"
          [value]="data.title">
    </mat-form-field>

    <mat-form-field>
        <textarea
          rows="3"
          matInput
          placeholder="Descripción"
          formControlName="description">{{ data.description }}</textarea>
    </mat-form-field>

    <button mat-raised-button color="primary">Editar</button>
    <button mat-raised-button color="warn" type="button" (click)="onNoClick()">Cancelar</button>
</form>
