<mat-toolbar color="primary">
    <span>Mapas</span>

    <section>
        <div class="example-button-row">
            <button mat-raised-button color="primary" [routerLink]="['/map-google']">Google</button>
            <button mat-raised-button color="warn" [routerLink]="['/map-leaflet']">Leaflet</button>
            <button mat-raised-button color="accent" [routerLink]="['/map-mapbox']">Mapbox</button>
        </div>
    </section>
</mat-toolbar>

<div class="main-container">

    <router-outlet></router-outlet>

</div>